.contact {
  padding: 60px 20px;
  background:;
  text-align: center;
}

.contact h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.contact form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact input,
.contact textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 5px;
  resize: none;
  background:rgb(173, 210, 234)
}

.contact button {
  background-color: #00ffcc;
  color: white;
  border: none;
  padding: 12px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.contact button:hover {
  background-color:#00ccaa;
}

.success-msg {
  margin-top: 15px;
  color: green;
  font-weight: bold;
}
